<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mnist Digit reader</title>

  <!-- Latest Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/styles.css" />

  <!-- fabric.js library -->
  <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js'></script>

  <!-- Going to use JQuery so its good to have library locally -->
  <script type='text/javascript' src="static/js/jquery-3.2.1.min.js"></script>
        <script type='text/javascript'>

            
            var canvas;
            var image;
            var bThick = 20;
            var cColour = '#FFFFFF'; // #black

            //Initialize  fabric 
            function initCanvas(){
                canvas = new fabric.Canvas('canvasBox');
                canvas.isDrawingMode = true;
                canvas.freeDrawingBrush.width = bThick;
                canvas.freeDrawingBrush.color = cColour;
                canvas.backgroundColor = '#000000';            
            }
        
            window.onload = function(){
                initCanvas();
                // submit button
                var btnsub = document.getElementById('btnSubmit');
                btnsub.addEventListener('click', handleImage());
            };
            
            //reset canvas
            function reset() {           
                canvas.clear();   
                $('#guess').text('');     
            }

            function handleImage(){                        
                var imgURL = canvas.toDataURL();   

                //Send Ajax call
                $.ajax({
                    type: 'post',
                    url: '/',
                    data: {
                        imageBase64 : imgURL
                    },
                
                    success: function(data){
                        $('#guess').text(data.guess);
                    }              
                });                     
            }
        </script>


</head>
<!--end of head -->


    <body>
                <!-- NAVAGATION BAR -->
         
                        
            <div id="mainContent" class="jumbotron">
                
                    <div class="row col-xs-12">   
                        <div class="col-xs-1"></div> 
                       
                                <div class="col-xs-4">
                                    <canvas id="canvasBox"position="relative" width="250" height="300"></canvas>                             
                                </div> 
                                <div class="navbar-header">
                                    <p class="navbar-text">Mnist Digit Reader</p>            
                                </div>

                                <div class="footer">
                                    Author: Alan Heanue 
                                    <br/>
                                    <a href="https://github.com/heanuea/Mnist-Digit-Reader-.git">
                                        <img src="./images/GitHub-Mark-32px.png" width="16" height="16"> Visit GitHub Repo
                                    </a>
                                </div>
                                </d     
                                        
                    </div> 
                        <div class="row col-xs-12"style="padding-top:20px">
                                <div class="actions"
                                >
                                    <div class="col-xs-1"></div>
                                    <button id="btnSubmit" class="btn btn-primary col-xs-1" onclick="handleImage()">Submit</button>
                                    <button class="btn btn-primary col-xs-1 col-xs-offset-1" onclick="reset()">Reset</button>
                                </div>    
                        </div>
                        
                            <div class="col-xs-4">               
                                <div>
                                        <h3>The Computer Says ... </h3>                    
                                        <h1 id="guess"></h1>
                                </div>
                        </div> 
                
                       
            </div>
                
            
        </div>
        
    </body>

</html>