<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TensorFlow Project</title>

  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/styles.css" />
  <!-- Using fabric.js library to enable free drawing of numbers in the canvas -->
  <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js'></script>
  <!-- Going to use JQuery so its good to have library locally -->
  <script type='text/javascript' src="static/js/jquery-3.2.1.min.js"></script>
     <script type='text/javascript'>

        
        var canvas;
        var image;
        
        var bThick = 15;
      
        var cColour = '#FFFFFF'; // #black

        //Initialize  fabric library
        function initCanvas(){
            canvas = new fabric.Canvas('numCanvas');
            canvas.isDrawingMode = true;
            canvas.freeDrawingBrush.width = bThick;
            canvas.freeDrawingBrush.color = cColour;
            canvas.backgroundColor = '#000000';            
        }

       
        window.onload = function(){
            initCanvas();
            // submit button
            var btnsub = document.getElementById('btnSubmit');
            btnsub.addEventListener('click', handleImage());
        };
        
        //reset canvas
        function reset() {           
            canvas.clear();   
            $('#guessNum').text('');     
        }

        function handleImage(){                        
            var imgURL = canvas.toDataURL();   
             
            //Send Ajax call
            $.ajax({
                type: 'post',
                url: '/',
                data: {
                    imageBase64 : imgURL
                },
              
                success: function(data){
                    $('#guessNum').text(data.guessNum);
                }              
            });                     
        }
    </script>


</head>
<body>
    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
              <h1 class="navbar-text">Mnist Digit Reader</h1>            
          </div>
        </div>
      </nav>
  <div id="mainContent" class="jumbotron">
        <div class="container col-xs-12">
            <div class="row col-xs-12">   
                <div class="col-xs-1"></div>    
                        <div class="col-xs-4">
                            <canvas id="numCanvas" width="280" height="280"></canvas>                             
                        </div> 

                            <div class="col-xs-4">               
                                <div>
                                    <!-- Result is shown in this H1 element -->
                                        <h3>The Number Should Be </h3>                    
                                        <h1 id="guessNum"></h1>
                                </div>
                            </div>   
                                
            </div> 
                <div class="row col-xs-12"style="padding-top:20px">
                    <div class="actions"
                    >
                        <div class="col-xs-1"></div>

                        <button id="btnSubmit" class="btn btn-primary col-xs-1" onclick="handleImage()">Submit</button>
                        <button class="btn btn-primary col-xs-1 col-xs-offset-1" onclick="reset()">Reset</button>
                    </div>    
                </div>        
        </div>
  </div>
  
</body>
</html>